h4, h1 {
  font-size: .8rem;
  @media (min-width: 500px) {
    font-size: 1rem;
  }
  @media (min-width: 800px) {
    font-size: 1.2rem;
  }
}

.banner-image {
  background-color: #151746;
}

.tracker {
  padding-top: 30px;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 600;
  color: #151746;
  & span {
    padding-left: 5px;
    padding-right: 5px;
  }
  @media (min-width: 300px) {
    font-size: 1.3em;
  }
  @media (min-width: 800px) {
    font-size: 1.5em;
  }
}

.newstyle{
  padding-left: 10px;
}

.page-one-header {
  font-family: "proxima-nova", sans-serif;
  font-weight: 700;
  color: #151746;
  padding-top: 30px;
  font-size: 1.8em;
  text-align: center;
}

.active-tracker {
  color: #ff671f;
}

.question {
  color: black;
  font-family: "Adelle Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
  margin-left: 4%;
  @media (min-width: 300px) {
    font-size: 1.1em;
  }
  @media (min-width: 800px) {
    font-size: 1.5em;
  }
}

.intro {
  color: black;
  font-size: 1.4em;
  font-family: "Adelle Sans", sans-serif;
  font-weight: 400;
  padding-top: 30px;
  max-width: 900px;
  @media (min-width: 300px) {
    font-size: 1.1em;
  }
  @media (min-width: 800px) {
    font-size: 1.4em;
  }
}

.question-number {
  color: #151746;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 2.5em;
  margin-bottom: -5px;
  margin-left: 4%;
}

.button-responses {
  color: white;
  background-color: #151746;
  padding: 15px 0px;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 600;
  text-align: center;
    &:hover {
      cursor: pointer;
    }
}

.button-submit {
  color: white;
  background-color: #ff671f;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 600;
  text-align: center;
  border-radius: 5px;
  margin-top: 35px;
  margin-bottom: 35px;
    &:hover {
      cursor: pointer;
      color: white;
      background-color: #e64900;
    }
}

.button-disabled {
  color: white;
  background-color: #545454;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 600;
  text-align: center;
  border-radius: 5px;
  margin-top: 35px;
  margin-bottom: 35px;
    &:hover {
      cursor: default;
      color: white;
    }
}


.button-responses:hover {
  color: white;
  background-color: #ff671f;
}

.button-reset {
  color: white;
  background-color: #151746;
  padding: 15px, 20px;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 600;
  text-align: center;
}

.video-div {
  background-position: center;
  max-width: 560px;
}

.response-list {
  padding-bottom: 60px;
}

.bar-label {
  padding-top: 10px;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
  line-height: 1;
  color: #151746;

}

.bar-style {
  fill: #151746;
}

.bar-strong {
  fill: #6cc24a;
}

.bar-weak {
  fill: #ff671f;
}

.response-header {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
  color: #151746;
  padding-top: 30px;
  font-size: 1.8em;
}

.response-style {
  font-family: "Adelle Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  padding-top: 15px;
}

.list-feedback {
  font-family: "Adelle Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: .9em;
  line-height: 1.6em;
  padding-top: 15px;
  padding-bottom: 10px;
  @media (min-width: 800px) {
    font-size: 1.1em;
  }
}

.course-recommendations {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 600;
  color: #151746;
  font-size: 1.4em;
  padding-bottom: 8px;
  @media (min-width: 300px) {
    font-size: 1.1em;
  }
  @media (min-width: 800px) {
    font-size: 1.4em;
  }
}

.unlock-results {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
  color: #151746;
  padding-top: 30px;
  font-size: 2em;
}

.rc-header {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 600;
  font-size: 1.9em;
  color: #56A437;
  padding-bottom: 30px;
  text-align: center;
  line-height: 1.2em;
}

.CTA-link {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 600;
  font-size: 1.4em;
  color: #ff671f;
  padding-bottom: 50px;
  line-height: normal;
  &:hover {
    color: #e64900;
    text-decoration: none!important;
    text-decoration-color: #e64900;
    cursor: pointer;
  }
}

.double-arrow {
  padding-left: 10px;
}

.feeback-header {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 1.4em;
  padding-bottom: 8px;
  padding-top: 8px;
  background-color: #151746;
}

.CTA-section {
  background-color: #151746;
  color: white;
  font-size: 1.6em;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 600;
  padding-top: 25px;
}

.button-CTA {
  color: #6cc24a;
  background-color: #151746;
  border-color: #6cc44a;
  font-family: "Adelle Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 100px;
  &:hover, &:active {
    color: white;
    background-color: #469e24;
    cursor: pointer;
    border-color: #469e24;
  }
}

.key-square-green {
  background-color: #6cc24a;
  width: 20px;
  height: 20px;
  @media (min-width: 800px) {
    font-size: 14px;
    width: 30px;
    height: 30px;
  }
}

.key-square-blue {
  background-color: #151746;
  width: 20px;
  height: 20px;
  @media (min-width: 800px) {
    font-size: 14px;
    width: 30px;
    height: 30px;
  }
}

.key-square-orange {
  background-color: #ff671f;
  width: 20px;
  height: 20px;
  @media (min-width: 800px) {
    font-size: 14px;
    width: 30px;
    height: 30px;
  }
}

.key-label {
  font-family: "Adelle Sans", sans-serif;
  font-size: .8em;
  font-weight: 500;
  @media (min-width: 800px) {
    font-size: 1em;
  }
}

.key {
    max-width: 600px;
    margin: 0 auto;
}
